@{
    ViewData["Title"] = "Index";
}

<h1 class="mb-4 text-center">Sucursal</h1>


<fieldset class="border p-4 rounded shadow-sm">
    <legend class="w-auto px-3">Agregar Sucursal</legend>

    <form id="frmGuardarSucursal" method="post" class="row g-3">
        <div class="col-md-6">
            <label for="inputNombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="nombre" placeholder="nombre">
        </div>
        <div class="col-md-6">
            <label for="inputDireccion" class="form-label">Dirección</label>
            <input type="text" class="form-control" name="direccion" id="direccion" placeholder="direccion">
        </div>

        <div class="col-12 text-end mt-3">
            <button type="button" class="btn btn-primary me-2" onclick="GuardarSucursal()">
                <i class="bi bi-search"></i> Agregar
            </button>
            <button type="button" class="btn btn-secondary" onclick="LimpiarSucursal()">
                <i class="bi bi-eraser"></i> Limpiar
            </button>
        </div>
    </form>
</fieldset>

<fieldset class="border p-4 rounded shadow-sm">
    <legend class="w-auto px-3">Búsqueda de Sucursal</legend>

    <form id="frmBusqueda" method="post" class="row g-3">
        <div class="col-md-6">
            <label for="inputNombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="inputNombre" placeholder="Ingrese el nombre">
        </div>

        <div class="col-md-6">
            <label for="inputDireccion" class="form-label">Dirección</label>
            <input type="text" class="form-control" name="Direccion" id="inputDireccion" placeholder="Ingrese la dirección">
        </div>

        <div class="col-12 text-end mt-3">
            <button type="button" class="btn btn-primary me-2" onclick="BuscarSucursal()">
                <i class="bi bi-search"></i> Buscar
            </button>
            <button type="button" class="btn btn-secondary" onclick="LimpiarSucursal()">
                <i class="bi bi-eraser"></i> Limpiar
            </button>
        </div>
    </form>
</fieldset>


<div id="divTable" class="mt-4">
</div>

<script src="~/js/generic.js"></script>
<script src="~/js/sucursal.js"></script>
