@{
    ViewData["Title"] = "Index";
}


<h1 class="mb-4 text-center">Tipo Medicamento</h1>


<fieldset class="border p-4 rounded shadow-sm">
    <legend class="w-auto px-3">Agregar Tipo Medicamento</legend>

    <form id="frmGuardarNedicamento" method="post" class="row g-3">
        <div class="col-md-6">
            <label for="inputNombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="nombre" placeholder="nombre">
        </div>
        <div class="col-md-6">
            <label for="inputDescripcion" class="form-label">Descripcion</label>
            <input type="text" class="form-control" name="descripcion" id="descripcion" placeholder="descripcion">
        </div>


        <div class="col-12 text-end mt-3">
            <button type="button" class="btn btn-primary me-2" onclick="GuardarMedicamento()">
                <i class="bi bi-search"></i> Agregar
            </button>
            <button type="button" class="btn btn-secondary" onclick="LimpiarMedicamento()">
                <i class="bi bi-eraser"></i> Limpiar
            </button>
        </div>
    </form>
</fieldset>


<fieldset class="border p-4 rounded shadow-sm">
    <legend class="w-auto px-3">Búsqueda de Tipo Medicamento</legend>

    <form id="frmBusqueda" method="post" class="row g-3">
        <div class="col-md-6">
            <label for="inputNombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="inputNombre" placeholder="Ingrese el nombre">
        </div>

        <div class="col-md-6">
            <label for="inputDescripcionn" class="form-label">Descripcion</label>
            <input type="text" class="form-control" name="Descripcion" id="inputDescripcion" placeholder="Ingrese la descripcion">
        </div>


        <div class="col-12 text-end mt-3">
            <button type="button" class="btn btn-primary me-2" onclick="BuscarTipoMedicamento()">
                <i class="bi bi-search"></i> Buscar
            </button>
            <button type="button" class="btn btn-secondary" onclick="LimpiarTipoMedicamento()">
                <i class="bi bi-eraser"></i> Limpiar
            </button>
        </div>
    </form>
</fieldset>

<div id="divTable" class="mt-4">
</div>

<script src="~/js/generic.js"></script>
<script src="~/js/tipoMedicamento.js"></script>